.headerContainer {
    background: var(--purple-dark);
    height: 6.5rem;

    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--purple);
        color: var(--white)
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
    }

    a {
        text-decoration: none;
        padding: 0.25rem 0 0.25rem 2rem;
        color: var(--purple)
    }
}