.search {
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);
    overflow: scroll;
    
    justify-content: center;
    
    .input{

        padding: 0 4rem;
        display: flex;
        justify-content: center;

        input {
            margin-top: 3rem;
            border-radius: 2px;
            height: 2.5rem;
            width: 35rem;
            border-color: var(--purple-100);
            padding: 0.5rem;
            font-size: 1.5rem;
            font-family: Roboto;
            font-weight: 300;
            position: relative;
            


        }

        button {
            height: 2.5rem;
            margin-top: 3rem;
            width: 7rem;
            border-radius: 2px;
            border: none;
            background: var(--purple);
            color: var(--white);
            padding: auto;
            font-family: Roboto;
            font-weight: 400;
            margin-left: 0.1rem;

            transition: filter 1.2s;
        }

        button:hover {
            filter: brightness(1.2)
        }
    }

    .image {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
}